@CHARSET "UTF-8";

body {
	background-color: black;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: #87ceeb;
	width: 100%;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0px;
	height: 149px;
	width: 100%;
	background-color: #87ceeb;
}

.container {
	position: fixed;
	width: 100%;
	top: 100px;
	bottom: 150px;
	background-color: #87ceeb;
	width: 100%;
}

.friendList {
	position: absolute;
	width: 250px;
	height: 100%;
	border-radius: 20px;
	border: 3px solid #000;
	background-color: white;
}

.chatroom {
	position: absolute;
	left: 253px;
	padding: 20px;
	border-radius: 20px;
	border: 3px solid #000;
	background-color: white;
	border-radius: 20px;
}

.dispName {
	position: absolute;
	bottom: 10px;
	right: 10px;
	bottom: 10px;
}

.friendListTitle {
	width: 100%;
	text-align: center;
}

.atDiv {
	position: absolute;
	top: 20px;
	left: 10px;
	width: 500px;
}

.message {
	position: absolute;
	top: 50px;
	left: 20px;
	width: 500px;
	min-width: 500px;
	height: 80px;
}

.emoj {
	width: 250px;
	height: 100px;
}

.sendBtn {
	position: absolute;
	width: 50px;
	height: 80px;
	width: 50px;
	left: 530px;
	top: 50px;
}

.from {
	color: blue;
	text-align: left;
}

.toMe {
	color: green;
}

.numOfFriend {
	margin-top: 5px;
	width: 100%;
	text-align: center;
	width: 100%;
}

.me {
	margin-top: 5px;
}

ul {
	display: block;
	list-style: none;
	width: 100%;
	text-align: center;
}

.list {
	position: absolute;
	overflow: scroll;
	width: 98%;
	height: 100%;
	bottom: 10px;
}

.aboutFriend {
	margin-top: 5px;
	height: 10%;
	min-height: 45px;
}

.content {
	margin-left: 10px;
	overflow: scroll;
}

.getMessage {
	margin-top: 5px;
	padding: 5px; border-radius : 8px;
	border: solid 2px #b0e2ff;
	border-bottom-color: #4f9ecd;
	border-right-color: #4f9ecd; float : left;
	background-color: #b0e2ff;
	float: left;
	border-radius: 8px;
}

.msgfromMe {
	margin-right: 20px;
	float: right;
}

.fromMe {
	width: 100%;
	text-align: right;
}

.messageDiv {
	text-align: left;
	padding-top: 10px;
	clear: both;
}