@CHARSET "UTF-8";

body {
	background-image: url(../pic/bg.jpg);
	background-size: cover;
	margin: 0;
	padding: 0;
}

.background {
	
	position: absolute;
	width: 327px;
	height: 327px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 3px solid #1E90FF;
}

#loginTable {
	width: 100%;
	height: 300px;	
	background-repeat: no-repeat;
}
