@CHARSET "UTF-8";

body {
	background-image: url(../pic/bg.jpg);
	background-size: cover;
	margin: 0;
	padding: 0;
}

.background {
	
	position: absolute;
	width: 400px;
	height: 250px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 3px solid #1E90FF;
}

#loginTable {
	width: 80%;
	height: 200px;	
	background-repeat: no-repeat;
}

#login, #reset{
	width:80px;
	height:30px;
}

#userName{
	width: 100%;
}

#title{
	font-size: 30px;
}